@import url("https://fonts.googleapis.com/css?family=Overpass:300");
@import url("https://fonts.googleapis.com/css?family=Roboto:300");

.panel {
  //mixin here for flexbox
  width: 45vw;
  height: 150vh;
  display: flex;
  flex-direction: row;
  &__hr {
    border-top: 1.5px solid red;
  }
  .dropdown-img {
    height: 60vh;
  }

  &__hours-container {
    //mixin here for flexbox
    display: flex;
    flex-direction: row;
    .hour-title {
      font-family: "Overpass", sans-serif;
      font-weight: 300;
      font-size: 2vw;
      margin-left: 1em;
      .clock_icon {
        width: 80px;
      }
    }
    .hour-list {
      list-style-type: none;
      width: 30vw;
      .hour-item {
        font-family: "Roboto", sans-serif;
        display: flex;
        flex-direction: row;
        .weekday {
          font-family: "Roboto", sans-serif;
          margin-left: 2vw;
          text-align: left;
          width: 12vw;
          font-weight: 300;
          font-size: 1.5vw;
        }
        .status {
          margin-left: 3vw;
          font-weight: 300;
          font-size: 1.5vw;
        }
      }
    }
  }
  &__contact-container {
    //mixin here for flexbox
    font-family: "Overpass", sans-serif;
    display: flex;
    flex-direction: row;
    margin-left: 1em;
    .hr-divider {
      margin: 14vh 0 0 0;
      border-top: 1px solid grey;
    }
    h3 {
      font-size: 2.5vw;
    }
    .contact-title {
      .phone_icon {
        margin: 5.5em 3em 0 0;
        width: 55px;
      }
      h5 {
        font-size: 1.3vw;
        font-weight: 300;

        margin: 1em 3em 0 0;
      }
    }
    .mail {
      width: 10vw;
      .mail_icon {
        margin: 5.8em 0 0 7em;
        width: 50px;
      }
      h5 {
        font-size: 1.3vw;
        font-weight: 300;
        margin: 2em 0 0 3em;
      }
    }
  }
}
