@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import url("https://fonts.googleapis.com/css?family=Overpass:300");

// font-family: "Lato", sans-serif;
// font-family: "Open Sans", sans-serif;
// font-family: "Roboto", sans-serif;

.location-container {
  display: flex;
  flex-direction: row;

  &__hours {
    font-family: "Roboto", sans-serif;
    font-size: 2vw;
    justify-content: flex-end;
    margin-left: 35vw;
    font-weight: 400;
  }
  &__hr {
    border-top: 1.5px solid grey;
  }
  &__address {
    font-family: "Roboto", sans-serif;
    font-size: 3vw;
    margin-right: 1em;
    width: 30vw;
    h3 {
      font-family: "Overpass", sans-serif;
      font-size: 2vw;
      font-weight: 300;
    }
  }
  &__container-img {
    .plus-image {
      width: 5vw;
      margin: 1em 0 0 4em;
      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }
  }
}
