@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import url("https://fonts.googleapis.com/css?family=Overpass:300");

.middle-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  .middle-title {
    // width: 20%;
    &__show {
      font-family: "Overpass", sans-serif;
      font-size: 8vw;
      position: absolute;
      left: 5%;
      top: 50%;
      font-weight: 600;
      span {
        font-size: 7vw;
        font-style: italic;
        font-weight: 500;
      }
    }
    &__link {
      margin: 12em 0 0 1em;
      font-family: "Overpass", sans-serif;
      .arrow-color {
        width: 6vw;
        top: 34em;
        left: 12em;
        position: absolute;
        &:hover {
          filter: brightness(0.5) sepia(2) hue-rotate(180deg) saturate(5);
        }
      }
    }
  }
  .middle-image {
    img {
      width: 48vw;
      height: 150vh;
      z-index: -1;
      margin-left: 15vw;
    }
  }
  .middle-description {
    text-align: left;
    margin: 0 3em 0 3em;
    &__heading {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 15px;
    }
    &__subheading {
      font-family: "Overpass", sans-serif;
      font-weight: 300;
      font-size: 18px;
    }
  }
}
.opening {
  font-family: "Overpass", sans-serif;
  font-size: 2vw;
}
