@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import url("https://fonts.googleapis.com/css?family=Overpass:300");
@import "modules/variables";

.middle-section {
  display: flex;
  align-items: center;
  &__title {
    .exihibit-name {
      font-family: $overpass;
      font-size: 8vw;
      position: absolute;
      left: 5%;
      top: 50%;
      font-weight: 600;
      span {
        font-size: 7vw;
        font-style: italic;
        font-weight: 500;
      }
    }
  }
  &__exhibit-link {
    margin: 18em 0 0 1em;
    font-family: $overpass;
    font-size: 2vw;
    .arrow-color {
      width: 6vw;
      top: 30em;
      left: 10em;
      position: absolute;
      &:hover {
        filter: brightness(0.5) sepia(2) hue-rotate(180deg) saturate(5);
      }
    }
  }
  &__middle-image {
    img {
      width: 48vw;
      height: 150vh;
      z-index: -1;
      margin-left: 15vw;
    }
  }
  &__middle-description {
    text-align: left;
    margin: 0 3em 0 3em;
    .heading {
      font-family: $roboto;
      font-weight: 700;
      font-size: 1.5vw;
    }
    .subheading {
      font-family: $overpass;
      font-weight: 300;
      font-size: 2vw;
    }
  }
}
.opening {
  font-family: $overpass;
  font-size: 2vw;
  margin: 3em 25em 3em 0;
}
