.navbar {
  //another place for a mixin
  display: flex;
  flex-direction: row;
  align-items: center;
  &__gallery-name {
    font-size: 2vw;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 4em;
    color: #a9a9a9;
  }
  &__gallery-media {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    margin-right: 2em;
    a {
      text-decoration: none;
      .list-item {
        color: #a9a9a9;
        margin-right: 1em;
        font-size: 1.5vw;
      }
    }
  }
}
