.social-icon-list {
  display: none;
  flex-direction: column;
  margin-left: 10vh;
  &__social-link {
    .twitter-handle {
      width: 2.3vw;
      &:hover {
        //could use mixin here
        filter: invert(12%) sepia(82%) saturate(5499%) hue-rotate(351deg)
          brightness(111%) contrast(102%);
      }
    }
  }
  &__social-link {
    .fb-handle {
      width: 2.5vw;
      margin-top: 1em;
      &:hover {
        filter: invert(12%) sepia(82%) saturate(5499%) hue-rotate(351deg)
          brightness(111%) contrast(102%);
      }
    }
  }
  &__social-link {
    .instagram-handle {
      width: 3vw;
      margin-top: 1em;
      &:hover {
        filter: invert(12%) sepia(82%) saturate(5499%) hue-rotate(351deg)
          brightness(111%) contrast(102%);
      }
    }
  }
}
