@import "partials/welcome";
@import "partials/navbar";
@import "partials/middle";
@import "partials/burgermenu";
@import "partials/burgericon";
@import "partials/middle";
@import "partials/collection";
@import "partials/location";
@import "partials/dropdown";
@import "partials/social";
@import "partials/socialicons";
@import "modules/mixins";
@import "modules/variables";

html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after */
*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 20vh;
  font-size: calc(10px + 2vmin);
}
