@import "partials/welcome";
@import "partials/navbar";
@import "partials/middle";
@import "partials/burgermenu";
@import "partials/burgericon";
@import "partials/middle";
@import "partials/collection";
@import "partials/location";
@import "partials/dropdown";
@import "partials/social";
@import "partials/socialicons";

html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: light grey;
  min-height: 20vh;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.opening {
  display: flex;
  flex-direction: row;
  margin: 4em 0 2em 3em;
}
